<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
   
    <!-- Vie de la session en minutes -->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--  Lien entre les pages et les roles -->
    <security-constraint>
     <web-resource-collection>
       <web-resource-name>Test</web-resource-name>
         <url-pattern>/test.jsp</url-pattern>
     </web-resource-collection>
     <web-resource-collection>
       <web-resource-name>Fil</web-resource-name>
         <url-pattern>/fil.jsp</url-pattern>
     </web-resource-collection>
     <web-resource-collection>
       <web-resource-name>Mur</web-resource-name>
         <url-pattern>/mur.jsp</url-pattern>
     </web-resource-collection>
      <auth-constraint>
         <role-name>membre</role-name>
         <role-name>role2</role-name>
      </auth-constraint>
    </security-constraint>
    
  <security-constraint>
     <web-resource-collection>
       <web-resource-name>Test2</web-resource-name>
         <url-pattern>/test.html</url-pattern>
     </web-resource-collection>
      <auth-constraint>
         <role-name>membre</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- La maniere dont la page de login est affichee -->
  <!--   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>Nom affiche sur le formulaire</realm-name>
    </login-config>	 -->
    
    
	
	<login-config>
 		<auth-method>FORM</auth-method>
 		<realm-name>Espace membres</realm-name>
 			<form-login-config>
  	   		<form-login-page>login.jsp</form-login-page>
   			<form-error-page>error.jsp</form-error-page>
 			</form-login-config>
	</login-config>



    <!-- La liste des differents roles -->
    <security-role>
      <role-name>membre</role-name>     
    </security-role>
    
     <security-role>
      <role-name>role2</role-name>
    </security-role> 
   
</web-app>

